<a href="https://colab.research.google.com/github/seomj0914/MyStudy/blob/main/(%EB%B2%88%EC%99%B8)Colab_%EA%B3%BC_%EA%B5%AC%EA%B8%80%EC%8A%A4%ED%94%84%EB%A0%88%EB%93%9C%EC%8B%9C%ED%8A%B8_%EA%B0%99%EC%9D%B4_%EC%93%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#index 를 'date.utc'로 놓고 
#parse_dates를 True 라는 것은 index한 값을 parsing해 달라 라는 뜻으로 설정 날짜가 object로 놓여있으면 날짜 계산 어려움. 
air_quality = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/air_quality_long.csv',index_col='date.utc',parse_dates=True)
air_quality.head(2)

                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³

In [ ]:
no2 = air_quality[air_quality['parameter'] == 'no2']
no2.head(2)

                            city country location parameter  value   unit
date.utc
2019-06-21 00:00:00+00:00  Paris      FR  FR04014       no2   20.0  µg/m³
2019-06-20 23:00:00+00:00  Paris      FR  FR04014       no2   21.8  µg/m³

In [ ]:
#3447를 스프레드시트에서 다 돌리기엔 무리있음
no2.shape

(3447, 6)

In [ ]:
#오름차순으로 
no2=no2.sort_index()

In [ ]:
no2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3447 entries, 2019-06-21 00:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       3447 non-null   object
 1   country    3447 non-null   object
 2   location   3447 non-null   object
 3   parameter  3447 non-null   object
 4   value      3447 non-null   float64
 5   unit       3447 non-null   object
dtypes: float64(1), object(5)
memory usage: 188.5+ KB

In [ ]:
#한달치만 구해보기
no2_subset = no2.loc['2019-04-09' : '2019-04-30', : ]
no2_subset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1080 entries, 2019-04-30 23:00:00+00:00 to 2019-04-09 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       1080 non-null   object
 1   country    1080 non-null   object
 2   location   1080 non-null   object
 3   parameter  1080 non-null   object
 4   value      1080 non-null   float64
 5   unit       1080 non-null   object
dtypes: float64(1), object(5)
memory usage: 59.1+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1109: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

In [ ]:
#csv로 저장 
no2_subset.to_csv('/content/drive/MyDrive/data/no2_subset.csv')