<a href="https://colab.research.google.com/github/seomj0914/MyStudy/blob/main/(%EB%B2%88%EC%99%B8)apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
air_quality = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/air_quality_no2.csv')
air_quality

                 datetime  station_antwerp  station_paris  station_london
0     2019-05-07 02:00:00              NaN            NaN            23.0
1     2019-05-07 03:00:00             50.5           25.0            19.0
2     2019-05-07 04:00:00             45.0           27.7            19.0
3     2019-05-07 05:00:00              NaN           50.4            16.0
4     2019-05-07 06:00:00              NaN           61.9             NaN
...                   ...              ...            ...             ...
1030  2019-06-20 22:00:00              NaN           21.4             NaN
1031  2019-06-20 23:00:00              NaN           24.9             NaN
1032  2019-06-21 00:00:00              NaN           26.5             NaN
1033  2019-06-21 01:00:00              NaN           21.8             NaN
1034  2019-06-21 02:00:00              NaN           20.0             NaN

[1035 rows x 4 columns]

In [ ]:
#air_quality["london_mg_per_cubic"] = air_quality["station_london"]*1.882
#air_quality.head()

In [ ]:
s = pd.Series([20,21,12],index=['London','New York','Helsinki'])
s

London      20
New York    21
Helsinki    12
dtype: int64

In [ ]:
#1번
def square(x):
  return x ** 2

In [ ]:
square(10)

100

In [ ]:
s.apply(square)

London      400
New York    441
Helsinki    144
dtype: int64

In [ ]:
#2번
s.apply(lambda x: x **2)

London      400
New York    441
Helsinki    144
dtype: int64

In [ ]:
air_quality.mean()

<ipython-input-17-7628fd0e7462>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  air_quality.mean()

station_antwerp    25.778947
station_paris      27.740538
station_london     24.777090
dtype: float64

In [ ]:
mean = air_quality.mean().mean()
mean

<ipython-input-18-c19b01daf4f9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean = air_quality.mean().mean()

26.098858333436123

In [ ]:
air_quality

                 datetime  station_antwerp  station_paris  station_london
0     2019-05-07 02:00:00              NaN            NaN            23.0
1     2019-05-07 03:00:00             50.5           25.0            19.0
2     2019-05-07 04:00:00             45.0           27.7            19.0
3     2019-05-07 05:00:00              NaN           50.4            16.0
4     2019-05-07 06:00:00              NaN           61.9             NaN
...                   ...              ...            ...             ...
1030  2019-06-20 22:00:00              NaN           21.4             NaN
1031  2019-06-20 23:00:00              NaN           24.9             NaN
1032  2019-06-21 00:00:00              NaN           26.5             NaN
1033  2019-06-21 01:00:00              NaN           21.8             NaN
1034  2019-06-21 02:00:00              NaN           20.0             NaN

[1035 rows x 4 columns]

In [ ]:
#air_quality 의 각 값들이 air_quality의 평균값과  비교
def level(x) :
  if x >= mean :
    result = 'high'
  elif x < mean :
    result = 'low'
  else : 
    result = x
  return result

In [ ]:
level(30)

'high'

In [ ]:
air_quality['station_paris'] = air_quality['station_paris'].apply(level)
air_quality.head()

              datetime  station_antwerp station_paris  station_london
0  2019-05-07 02:00:00              NaN           NaN            23.0
1  2019-05-07 03:00:00             50.5           low            19.0
2  2019-05-07 04:00:00             45.0          high            19.0
3  2019-05-07 05:00:00              NaN          high            16.0
4  2019-05-07 06:00:00              NaN          high             NaN

In [ ]:
air_quality['station_paris'].apply(lambda x:'high' if x >= mean else'low')

TypeError: ignored