<a href="https://colab.research.google.com/github/seomj0914/MyStudy/blob/main/1_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EA%B3%BC_%EC%8B%9C%EB%A6%AC%EC%A6%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#데이터프레임 
- index와 column 모두 있다.

In [ ]:
name = ["Braund, Mr. Owen Harris","Allen, Mr. William Henry","Bonnell, Miss. Elizabeth"]
age = [22, 35, 58]
sex = ["male", "male", "female"]
data = {"Name":name ,"Age":age,"Sex":sex }

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

#시리즈 
- index 만 있다

**sql문

select Name

from df

In [ ]:
print(type(df))
print(type(df["Name"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [ ]:
ages = pd.Series((22,35,58), name = "Age" )
ages

0    22
1    35
2    58
Name: Age, dtype: int64

#간단한 연산

In [ ]:
df["Age"].max()

58

In [ ]:
ages.max()

58

In [ ]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

#요약정리
- import pandas as pd
-판다스에서 테이블 데이터는 데이터프레임으로 부른다.