<a href="https://colab.research.google.com/github/seomj0914/MyStudy/blob/main/3_1_SELECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL

SELECT Age , Sex

FROM titanic

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv')

#컬럼 1개 선택하기

In [ ]:
ages = titanic['Age']
ages

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
titanic.shape

(891, 12)

In [ ]:
len(titanic)

891

In [ ]:
len(titanic.columns)

12

In [ ]:
ages.shape

(891,)

#컬럼 2개 이상 선택하기

In [ ]:
#titanic[['Age','Sex']]
cols = ['Age','Sex']
age_sex = titanic[cols]

In [ ]:
age_sex.shape

(891, 2)

In [ ]:
print(type(ages))
print(type(age_sex))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>